<div id="<%= dom_id customer %>">
  <p>
    <strong>Company name:</strong>
    <%= customer.company_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>First line address:</strong>
    <%= customer.first_line_address %>
  </p>

  <p>
    <strong>Second line address:</strong>
    <%= customer.second_line_address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= customer.city %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= customer.postcode %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= customer.country %>
  </p>

</div>
